.section-hero-index {
  @screen lg {
    height: calc(100vh - 140px);
  }
}

.index-hero-wrapper {
  @apply hidden relative w-11/12 ml-auto;

  .phone,
  .macbook {
    // filter: drop-shadow(0px 154px 126px rgba(0, 0, 0, 0.07))
    //   drop-shadow(0px 49.9794px 43.1694px rgba(0, 0, 0, 0.0453408))
    //   drop-shadow(0px 23.2406px 18.791px rgba(0, 0, 0, 0.0325632))
    //   drop-shadow(0px 11.5388px 8.14689px rgba(0, 0, 0, 0.0227847))
    //   drop-shadow(0px 5.3376px 2.96572px rgba(0, 0, 0, 0.0145288))
    //   drop-shadow(0px 1.87513px 0.629754px rgba(0, 0, 0, 0.0071287));
  }

  .phone {
    @apply absolute top-1/2 z-10;

    width: 30%;
    transform: translate(-20%, -50%);
  }

  .macbook {
    @apply w-full;
  }

  @screen lg {
    @apply block w-auto ml-0 absolute right-0 top-1/2 transform -translate-y-1/2;

    max-width: 43%;

    .phone,
    .macbook {
      filter: drop-shadow(0px 154px 126px rgba(0, 0, 0, 0.07))
        drop-shadow(0px 49.9794px 43.1694px rgba(0, 0, 0, 0.0453408))
        drop-shadow(0px 23.2406px 18.791px rgba(0, 0, 0, 0.0325632))
        drop-shadow(0px 11.5388px 8.14689px rgba(0, 0, 0, 0.0227847))
        drop-shadow(0px 5.3376px 2.96572px rgba(0, 0, 0, 0.0145288))
        drop-shadow(0px 1.87513px 0.629754px rgba(0, 0, 0, 0.0071287));

      .is-safari & {
        filter: none;
      }
    }
  }
}

.payment-bg-img {
  @apply hidden;

  @screen lg {
    @apply block absolute;

    filter: blur(35px);
  }
}

.payment-bg-img--1 {
  top: 116px;
  left: calc((100% - 1200px) / 2 + 556px);
}

.payment-bg-img--2 {
  bottom: 140px;
  right: 210px;
}

.industries-bg-img--1 {
  top: 116px;
  left: 136px;
}

.industries-bg-img--2 {
  top: 280px;
  right: 207px;
}
