<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="lg:h-screen section-lines lg:flex lg:items-center pt-28 lg:pt-0"
      >
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/admin-panel-hero-img.svg"
              class="drop-shadow-red hidden lg:block lg:mr-24"
            />
            <div class="lg:w-6/12">
              <h1
                class="text-5xl lg:text-7xl font-black mb-8 lg:mb-12 capitalize"
              >
                enjoy full <br />
                control over
              </h1>
              <div class="text-container">
                <p class="text">
                  A sit senectus aliquet pretium feugiat. Blandit etiam viverra
                  amet, at purus sed. Nisl id mi tincidunt quam nulla ipsum, at
                  nulla mollis. Pulvinar elementum penatibus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines pt-12 pb-22 lg:pt-22 lg:pb-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                easily manage data and permissions in real-time
              </h2>
              <p class="text-lg font-medium js-visible">
                Enjoy maximum flexibility in creating new roles for different
                users, setting up scenarios for permissions, or limiting the
                permissions to one (!) action per user - with no customer
                support help needed!
              </p>
            </div>

            <img
              src="/images/admin-panel-permissions.svg"
              class="lg:block object-cover w-full lg:w-48/100 drop-shadow-grey-1 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="bg-lightGrey py-22 lg:py-28">
        <div class="container">
          <div class="text-center lg:w-10/12 mx-auto">
            <h2
              class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
            >
              stay in control of transaction data
            </h2>
            <p class="text-lg font-medium js-visible">
              Monitor real-time transaction data, stay on top of logs with an
              advanced search, and set up callbacks - all under “Transaction” in
              our state-of-the-art payment system.
            </p>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:justify-between lg:items-center"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                Keep All data In One Place
              </h2>
              <p class="text-lg font-medium js-visible">
                One-page and easy-to-manipulate data management tool to keep you
                in full control over data from various payment channels.
              </p>
            </div>

            <img
              src="/images/admin-panel-charts.png"
              class="w-full lg:w-48/100 drop-shadow-grey-2 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Request a Free Demo of The System Today!
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:pt-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                prevent declined transactions
              </h2>
              <p class="text-lg font-medium js-visible">
                With smart routing, we’ll help you route transactions to
                channels that are most likely to approve them to avoid declines.
              </p>
            </div>

            <img
              src="/images/billing-transactions.png"
              class="object-cover w-full lg:w-1/2 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                prevent fraud and chargebacks
              </h2>
              <p class="text-lg font-medium js-visible">
                Akurateco is here to protect your business from fraudsters with
                our secure fraud and chargeback prevention system using both the
                latest technology of the industry leaders as well as our
                in-house developments.
              </p>
            </div>

            <img
              src="/images/admin-panel-fingerprint.svg"
              class="object-cover w-full lg:w-1/2 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="bg-lightGrey py-22 lg:py-28">
        <div class="container">
          <div class="text-center lg:w-10/12 mx-auto">
            <h2
              class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
            >
              choose what to charge each client for
            </h2>
            <p class="text-lg font-medium js-visible">
              Set up payment actions you want to charge your merchants for, keep
              track of all payouts, and enjoy a smooth and fully automated
              payment flow.
            </p>
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:py-22">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                manage decline reasons
              </h2>
              <p class="text-lg font-medium js-visible">
                We go beyond the reason code allowing our customers to clearly
                understand what reason stands behind each decline and what
                measures they can take to resolve the issue and prevent it in
                the future.
              </p>
            </div>

            <img
              src="/images/admin-panel-decline.png"
              class="object-cover w-full lg:w-1/2 lg:pt-30 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
              ready to take a closer look at our system?
            </h2>

            <p class="text-lg font-medium mb-12">
              Click here to schedule a free Demo of the system to see what it
              offers in greater detail.
            </p>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/ScrollTrigger.min.js"></script>
  </body>
</html>
