<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="lg:h-screen section-lines lg:flex lg:items-center pt-28 lg:pt-0"
      >
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/billing-hero-img.svg"
              class="drop-shadow-red hidden lg:block lg:mr-24"
            />
            <div class="lg:w-6/12">
              <h1
                class="text-5xl lg:text-7xl font-black mb-8 lg:mb-12 capitalize"
              >
                boost your transaction approval rate
              </h1>
              <div class="text-container">
                <p class="text">
                  Benefit from a fine-tuned route for every transaction to
                  increase your conversion rate and improve your customer’s
                  checkout experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines pt-12 lg:pt-22">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                prevent declined transactions
              </h2>
              <p class="text-lg font-medium js-visible">
                With smart routing, we’ll help you route transactions to
                channels that are most likely to approve them to avoid declines.
              </p>
            </div>

            <img
              src="/images/billing-transactions.png"
              class="object-cover w-full lg:w-1/2 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:pt-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl lg:w-8/12 font-bold capitalize mb-4 js-visible"
              >
                distribute declined transactions
              </h2>
              <p class="text-lg font-medium js-visible">
                We’ll help you distribute declined transactions between multiple
                payment channels and help you keep track of decline reasons for
                enhanced analytics.
              </p>
            </div>

            <img
              src="/images/billing-distribute.png"
              class="object-cover w-full lg:w-1/2 lg:pt-16 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="section-lines pt-12 pb-22 lg:py-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                create a seamless payment experience
              </h2>
              <p class="text-lg font-medium js-visible">
                Enjoy the advantages of smart routing and cascading creating a
                smooth and seamless payment experience with every single
                transaction.
              </p>
            </div>

            <img
              src="/images/billing-99.svg"
              class="object-cover w-72 mx-auto lg:mx-0 lg:w-108 lg:mr-18 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Let’s talk cashier? Request a free demo today!
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:pt-32">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                set up your own payment routing
              </h2>
              <p class="text-lg font-medium js-visible">
                Choose different rules to route and distribute different
                transactions by regions, IPs, BINs, currencies, payment volumes,
                solutions, etc.
              </p>
            </div>

            <img
              src="/images/billing-routing.png"
              class="object-cover w-full lg:w-2/5 lg:pt-10 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:pt-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
          >
            <div class="lg:w-5/12 mb-12 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                improve transaction approval at desired regions
              </h2>
              <p class="text-lg font-medium js-visible">
                Customize routing through specific payment methods and solutions
                to improve the conversion ratio for transactions at a specific
                region.
              </p>
            </div>

            <img
              src="/images/billing-map.png"
              class="object-cover w-full lg:w-48/100 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:pt-24 relative -z-10 lg:-mb-12">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <div class="lg:w-2/5 mb-30 lg:mb-0">
              <h2
                class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
              >
                why it’s important
              </h2>
              <p class="text-lg font-medium js-visible">
                Allow your merchants to increase the number of approved
                transactions to grow their brand image and strengthen their
                credit reputation.
              </p>
            </div>

            <img
              src="/images/billing-importance.svg"
              class="object-cover transform scale-150 lg:transform-none w-full lg:w-48/100 lg:pt-10 js-visible"
            />
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
              let’s talk smart routing for your business?
            </h2>

            <p class="text-lg font-medium mb-12">
              Click here to get a FREE Demo and get started!
            </p>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/ScrollTrigger.min.js"></script>
  </body>
</html>
