<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="lg:h-screen section-lines lg:flex lg:items-center pb-22 lg:pb-0 pt-28 lg:pt-0"
      >
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/cashier-hero-img.png"
              class="shadow-1 w-full mx-auto lg:mx-0 mb-12 lg:mb-0 lg:w-48/100 lg:h-auto"
            />

            <div class="lg:w-48/100">
              <h1 class="text-5xl lg:text-7xl font-black mb-8 lg:mb-12">
                Connectors
              </h1>
              <div class="text-container">
                <p class="text-large">
                  <strong
                    >A single integration = multiple payment connectors!</strong
                  >
                </p>
                <p class="text">
                  Integrate with our white-label payment platform to get instant
                  access to multiple payment connectors or bring your existing
                  ones.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGrey py-22">
        <div class="container">
          <div class="lg:w-9/12 text-center mx-auto mb-20">
            <h2
              class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
            >
              Have your connector integrated within a week!
            </h2>
            <p class="text-lg font-medium js-visible">
              Akurateco can easily integrate new connectors within the shortest
              time. Here’s how the flow works step by step:
            </p>
          </div>

          <div class="swiper-container--connectors-integration js-visible">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card-integration">
                  <p class="text-xl lg:text-2xl font-bold mb-2 lg:mb-5">.1</p>
                  <p class="text-xs lg:text-lg font-medium relative z-10">
                    Fill out an application requesting a new connector.
                  </p>
                  <p class="card-integration__number leading-none">.1</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-integration">
                  <p class="text-xl lg:text-2xl font-bold mb-2 lg:mb-5">.2</p>
                  <p class="text-xs lg:text-lg font-medium relative z-10">
                    Provide us with the valid API documentation as well as
                    organize a direct contact with the technical department of
                    the acquirer.
                  </p>
                  <p class="card-integration__number leading-none">.2</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-integration">
                  <p class="text-xl lg:text-2xl font-bold mb-2 lg:mb-5">.3</p>
                  <p class="text-xs lg:text-lg font-medium relative z-10">
                    24/7 customer and technical support.
                  </p>
                  <p class="card-integration__number leading-none">.3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <div class="lg:w-11/12 mx-auto text-center mb-12 lg:mb-20">
            <h2
              class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
            >
              We support any type of transaction flow!
            </h2>
            <p class="text-lg font-medium js-visible">
              Crypto, alternative payment methods, bank cards, PayPal - you name
              it! We’ve got them all covered.
            </p>
          </div>

          <img
            src="/images/connectors-transactions.png"
            class="object-cover w-full drop-shadow-grey-1 js-visible"
          />
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Ready to expand your business with fast connectors’ integration?
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/ScrollTrigger.min.js"></script>
  </body>
</html>
