<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section id="hero" class="section-lines pt-36 lg:pt-56 pb-20">
        <div class="container">
          <h1 class="text-5xl lg:text-7xl font-black text-center">
            Contact Us
          </h1>

          <div
            class="bg-white rounded-2xl mt-40 lg:mt-35 lg:w-2/3 lg:mx-auto shadow-1"
          >
            <div class="flex items-center">
              <button
                class="js-tab-heading tab-heading text-green bg-lightGreen"
                data-tab-anchor="tab-demo"
                data-classes="{'active': 'text-green bg-lightGreen', 'unactive':'bg-white text-mediumGrey'}"
              >
                Request a Demo
              </button>
              <button
                class="js-tab-heading tab-heading bg-white text-mediumGrey"
                data-tab-anchor="tab-connector"
                data-classes="{'active': 'text-green bg-lightGreen', 'unactive':'bg-white text-mediumGrey'}"
              >
                Request a Connector
              </button>
            </div>
            <div class="p-6 pb-12 lg:p-16">
              <div
                class="block"
                data-classes="{'active': 'block', 'unactive':'hidden'}"
                data-tab-key="tab-demo"
              >
                <form
                  action=""
                  class="js-form"
                  data-success-modal="modal-thanks"
                >
                  <div
                    class="grid grid-cols-1 lg:grid-cols-2 gap-y-2 lg:gap-y-4 lg:gap-x-10"
                  >
                    <div class="form__item">
                      <label
                        for="name-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Name*</label
                      >
                      <input
                        id="name-demo"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="phone-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Phone*</label
                      >
                      <input
                        id="phone-demo"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="email-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Email*</label
                      >
                      <input
                        id="email-demo"
                        type="email"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="company-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Company*</label
                      >
                      <input
                        id="company-demo"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="website-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Website*</label
                      >
                      <input
                        id="website-demo"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="geo-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Geo of customers*</label
                      >
                      <input
                        id="geo-demo"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item lg:col-span-2">
                      <label
                        for="connectors-demo"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Connectors needed</label
                      >
                      <input
                        id="connectors-demo"
                        type="text"
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="button button-red min-w-50 mx-auto mt-6 lg:mt-15"
                  >
                    Request a Demo
                  </button>
                </form>
              </div>
              <div
                class="hidden"
                data-classes="{'active': 'block', 'unactive':'hidden'}"
                data-tab-key="tab-connector"
              >
                <form
                  action=""
                  class="js-form"
                  data-success-modal="modal-thanks"
                >
                  <div
                    class="grid grid-cols-1 lg:grid-cols-2 gap-y-2 lg:gap-y-4 lg:gap-x-10"
                  >
                    <div class="form__item">
                      <label
                        for="name-connector"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Name*</label
                      >
                      <input
                        id="name-connector"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="phone-connector"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Phone*</label
                      >
                      <input
                        id="phone-connector"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="email-connector"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Email*</label
                      >
                      <input
                        id="email-connector"
                        type="email"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item">
                      <label
                        for="company-connector"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Company*</label
                      >
                      <input
                        id="company-connector"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item lg:col-span-2">
                      <label
                        for="website-connector"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >Connector's Website*</label
                      >
                      <input
                        id="website-connector"
                        type="text"
                        required
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                    <div class="form__item lg:col-span-2">
                      <label
                        for="payment-methods-connector"
                        class="text-xs font-medium text-dark text-opacity-50"
                        >List of payment methods to be integrated for this
                        connector</label
                      >
                      <input
                        id="payment-methods-connector"
                        type="text"
                        class="w-full rounded-none border-b border-lightGreen focus:outline-none"
                      />
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="button button-green min-w-50 mx-auto mt-6 lg:mt-15"
                  >
                    Request a Connector
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.162256725385!2d4.841157615995364!3d52.38560885393219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e25e12f124c3%3A0xd89fde457672912c!2zVGVsZXBvcnQgVG93ZXJzLCBLaW5nc2ZvcmR3ZWcgMTUxLCAxMDQzIEdSIEFtc3RlcmRhbSwg0J3QuNC00LXRgNC70LDQvdC00Ys!5e0!3m2!1sru!2sua!4v1616776816962!5m2!1sen!2sen"
        width="100%"
        height="480"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>

      <section class="pt-12 pb-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:justify-between lg:items-start space-y-8 lg:space-y-0"
          >
            <div
              class="lg:w-3/5 grid grid-cols-1 lg:grid-cols-2 gap-y-8 lg:gap-y-16 lg:gap-x-35"
            >
              <div class="space-y-6">
                <p class="text-sm font-bold text-green">Address</p>
                <div class="space-y-2 text-lg font-medium flex flex-col">
                  <p>4517 Washington Ave. Manchester, Kentucky 39495</p>
                </div>
              </div>

              <div class="space-y-6">
                <p class="text-sm font-bold text-green">Email:</p>
                <div class="space-y-2 text-lg font-medium flex flex-col">
                  <a href="mailto:" target="_blank"
                    >curtis.weaver@example.com</a
                  >
                  <a href="mailto:" target="_blank"
                    >curtis.weaver@example.com</a
                  >
                </div>
              </div>

              <div class="space-y-6">
                <p class="text-sm font-bold text-green">Phone numbers:</p>
                <div class="space-y-2 text-lg font-medium flex flex-col">
                  <a href="tel:">(302) 555-0107</a>
                  <a href="tel:">(302) 555-0107</a>
                  <a href="tel:">(302) 555-0107</a>
                </div>
              </div>

              <div class="space-y-6">
                <p class="text-sm font-bold text-green">Working hours:</p>
                <div class="space-y-2 text-lg font-medium flex flex-col">
                  <p>03:48 am - 05:49 pm</p>
                </div>
              </div>
            </div>

            <div
              class="lg:w-1/3 flex flex-col lg:flex-row lg:items-center lg:space-x-8"
            >
              <p class="text-xl font-bold">Follow Us on</p>
              <div class="flex space-x-4 items-center mt-8 lg:mt-0">
                <a href="#" target="_blank">
                  <svg class="w-12 h-12">
                    <use xlink:href="#twitter-filled"></use>
                  </svg>
                </a>
                <a href="#" target="_blank">
                  <svg class="w-12 h-12">
                    <use xlink:href="#fb-filled"></use>
                  </svg>
                </a>
                <a href="#" target="_blank">
                  <svg class="w-12 h-12">
                    <use xlink:href="#linkedin-filled"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/ScrollTrigger.min.js"></script>
  </body>
</html>
