<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="lg:h-screen section-lines lg:flex lg:items-center pt-22 lg:pt-0"
      >
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/fintech-hero-img.svg"
              class="drop-shadow-red hidden lg:block lg:mr-24"
            />

            <div class="lg:w-6/12">
              <h1 class="text-5xl lg:text-7xl font-black capitalize">
                FinTech
              </h1>
              <p class="text-xl font-bold mt-12">
                Akurateco's tailor-made solutions aim to help both startups and
                large businesses.
              </p>
              <p class="text-lg font-medium mt-4">
                Stay on top of all transaction flow, earn morewith our
                innovative fee constructor, and minimize fraud.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines pt-12 lg:pt-22 pb-20 lg:pb-30">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/fintech-connections.png"
              class="object-cover w-full mb-10 lg:mb-0 lg:w-1/2 drop-shadow-grey-1"
            />

            <div class="lg:w-2/5">
              <h2 class="text-2xl lg:text-5xl font-bold capitalize">
                What we offer:
              </h2>

              <div class="space-y-6 mt-12">
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">100+ connectors.</p>
                    <p class="font-medium">
                      Enjoy instant access to 100+ banks and payment methods
                      with a single integration;
                    </p>
                  </div>
                </div>
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">
                      Smart Invoicing and Payment Calendar.
                    </p>
                    <p class="font-medium">
                      Let our system help you to easily manage all of your
                      ongoing settlements;
                    </p>
                  </div>
                </div>
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">
                      Cascading and Smart Routing.
                    </p>
                    <p class="font-medium">
                      Learn how you can significantly grow your transaction
                      approval ratio;
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
              Akurateco offers dedicated support to FinTech startups from day
              one.
            </h2>
            <p class="text-lg font-medium">
              We guarantee fast integration with the system, new connectors
              added within a week upon request, and a secure payment environment
              thanks to our powerful technology and 15+ years of hands-on
              experience in the industry.
            </p>
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 lg:pt-30">
        <div class="container">
          <div class="lg:w-2/3 lg:mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
              Why Akurateco?
            </h2>

            <div class="space-y-6 mt-12">
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <div class="text-lg">
                  <p class="font-bold capitalize">Flexibility.</p>
                  <p class="font-medium">
                    Our white-label payment gateway is fully-customizable
                    allowing you to fine-tune the solution to your specific
                    needs.
                  </p>
                </div>
              </div>
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <div class="text-lg">
                  <p class="font-bold capitalize">Competitive rates.</p>
                  <p class="font-medium">
                    Along with cutting-edge payment technology and dedicated
                    customer support, we guarantee competitive rates.
                  </p>
                </div>
              </div>
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <div class="text-lg">
                  <p class="font-bold capitalize">Security.</p>
                  <p class="font-medium">
                    We’ve created a secure fraud prevention system to keep your
                    funds safe inside our system.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:pt-44 lg:pb-28">
        <div class="container">
          <h2
            class="text-2xl lg:text-5xl font-bold capitalize text-center mb-12"
          >
            Our products
          </h2>

          <div
            class="grid grid-cols-1 justify-items-center lg:grid-cols-3 gap-6 lg:gap-12"
          >
            <a
              href="white-label.html"
              class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 lg:w-full h-60"
            >
              <img src="/images/white-label.svg" />
              <p class="text-xl font-bold">White-Label</p>
            </a>
            <a
              href="mobile-sdk.html"
              class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 lg:w-full h-60"
            >
              <img src="/images/mobile-payments.svg" />
              <p class="text-xl font-bold">Mobile SDK</p>
            </a>
            <a
              href="connectivity-box.html"
              class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 lg:w-full h-60"
            >
              <img src="/images/connectivity-box.svg" />
              <p class="text-xl font-bold">Connectivity box</p>
            </a>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Request a Free Demo of The System Today!
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
  </body>
</html>
