<!DOCTYPE html>
<html>
  <body class="index">
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="section-hero-index section-lines lg:flex lg:items-center pb-20 lg:pb-0 pt-28 lg:pt-20"
      >
        <div class="index-hero-wrapper mb-14 lg:mb-0 lg:mt-10">
          <img src="/images/index-hero-phone.png" class="phone" />
          <img src="/images/index-hero-macbook.png" class="macbook" />
        </div>
        <div class="container">
          <div class="lg:w-6/12">
            <div class="swiper-container--index-hero">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1
                    class="text-5xl lg:text-7xl font-black capitalize mb-8 lg:mb-12"
                  >
                    White-label Payment Gateway
                  </h1>
                  <div class="text-container">
                    <p class="text">
                      Acurateco's gateway is a fully brandable, white label
                      solution. You can own the end-to-end ready-to-use, PCI DSS
                      gateway without unnecessary development costs or labor.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <h1
                    class="text-5xl lg:text-7xl font-black capitalize mb-8 lg:mb-12"
                  >
                    Akurateco Cashier
                  </h1>
                  <div class="text-container">
                    <p class="text-xlarge">
                      <strong>
                        One integration = multiple payment connectors</strong
                      >
                    </p>
                    <p class="text">
                      Enjoy our cutting-edge SaaS payment platform with 100+
                      connectors to banks and payment methods available via a
                      single integration.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <h1
                    class="text-5xl lg:text-7xl font-black capitalize mb-8 lg:mb-12"
                  >
                    Integrate mobile applications and M-POSes
                  </h1>
                  <div class="text-container">
                    <p class="text-xlarge">
                      <strong>
                        One integration = multiple payment connectors</strong
                      >
                    </p>
                    <p class="text">
                      Enjoy our cutting-edge SaaS payment platform with 100+
                      connectors to banks and payment methods available via a
                      single integration.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <h1
                    class="text-5xl lg:text-7xl font-black capitalize mb-8 lg:mb-12"
                  >
                    cross-platform data sharing
                  </h1>
                  <div class="text-container">
                    <p class="text">
                      Easily export and import data across various platforms for
                      enhanced data management.
                    </p>
                    <p class="text-large">
                      <strong>
                        Enjoy full control over fast, smooth, and 100% secure
                        data sharing!</strong
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGrey py-22">
        <div class="container">
          <div class="swiper-container--index-1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div
                  class="p-6 rounded-xl lg:rounded-2xl bg-white flex space-x-6 h-36 lg:h-44"
                >
                  <div class="w-7/12">
                    <p class="text-base lg:text-xl font-bold mb-2 lg:mb-3">
                      Processing<br />
                      Revenue
                    </p>
                    <div class="flex items-center space-x-6 lg:space-x-8">
                      <div class="text-red">
                        <p class="text-xs">before</p>
                        <p class="text-xl lg:text-2xl font-bold">
                          <span id="number-1">94</span>%
                        </p>
                      </div>
                      <div class="text-green">
                        <p class="text-xs">after</p>
                        <p class="text-xl lg:text-2xl font-bold">
                          <span id="number-2">97</span>%
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="circle-chart">
                    <svg class="circle-outer" viewBox="0 0 32 32" class="">
                      <circle
                        r="16"
                        cx="16"
                        cy="16"
                        stroke-dasharray="97 100"
                        stroke="#129590"
                        fill="#fff"
                        stroke-width="5"
                      ></circle>
                    </svg>

                    <svg viewBox="0 0 32 32" class="circle-inner">
                      <circle
                        r="16"
                        cx="16"
                        cy="16"
                        stroke="#f82530"
                        stroke-dasharray="87 100"
                        fill="#fff"
                        stroke-width="5"
                      ></circle>
                    </svg>
                  </div>
                </div>
                <p class="mt-8 text-xs lg:w-9/12">
                  Choose a <strong> hand-picked solution</strong> for your
                  business model
                  <strong>to grow your conversion rate</strong> and
                  <strong>improve customer experience.</strong>
                </p>
              </div>
              <div class="swiper-slide">
                <div
                  class="p-6 rounded-xl lg:rounded-2xl bg-white flex items-center justify-between space-x-6 h-36 lg:h-44"
                >
                  <p class="text-base lg:text-xl font-bold mb-2 lg:mb-3">
                    Approval <br />Ratio
                  </p>
                  <div class="flex flex-col items-start space-y-1">
                    <div class="text-red">
                      <p class="text-xs">before</p>
                      <p class="text-xl lg:text-2xl font-bold">
                        <span id="number-3">50</span>%
                      </p>
                    </div>
                    <div class="text-green">
                      <p class="text-xs">after</p>
                      <p class="text-xl lg:text-2xl font-bold">
                        <span id="number-4">70</span>%
                      </p>
                    </div>
                  </div>

                  <div class="lines-chart">
                    <div class="bg-red w-4 line line--red"></div>
                    <div class="bg-green w-4 line line--green"></div>
                  </div>
                </div>
                <p class="mt-8 text-xs lg:w-9/12">
                  Choose a <strong> hand-picked solution</strong> for your
                  business model
                  <strong>to grow your conversion rate</strong> and
                  <strong>improve customer experience.</strong>
                </p>
              </div>
              <div class="swiper-slide">
                <div
                  class="p-6 rounded-xl lg:rounded-2xl bg-white flex items-center justify-between space-x-6 h-36 lg:h-44"
                >
                  <p class="text-base lg:text-xl font-bold mb-2 lg:mb-3">
                    Time<br />
                    to Market
                  </p>
                  <div class="flex flex-col items-center">
                    <p class="font-bold text-2xl lg:text-5xl text-red">1</p>
                    <p class="font-bold text-xl lg:text-2xl text-green">Day</p>
                  </div>
                </div>
                <p class="mt-8 text-xs lg:w-9/12">
                  Choose a <strong> hand-picked solution</strong> for your
                  business model
                  <strong>to grow your conversion rate</strong> and
                  <strong>improve customer experience.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <div class="text-center mx-auto lg:w-9/12">
            <h2 class="text-2xl lg:text-5xl font-bold mb-4 js-visible">
              Keep All Data In One Place
            </h2>
            <p class="text-lg font-medium mb-12 lg:mb-22 js-visible">
              Consolidated and easy-to-manipulate data management to keep you in
              full control over data from various payment channels.
            </p>
          </div>

          <img
            src="/images/cashier-charts.png"
            class="w-full drop-shadow-grey-2 js-visible"
          />
        </div>
      </section>

      <section class="bg-lightGreen py-22 relative">
        <img
          src="/images/blur-bg-shape-green.svg"
          class="payment-bg-img payment-bg-img--1"
        />
        <img
          src="/images/blur-bg-shape-red.svg"
          class="payment-bg-img payment-bg-img--2"
        />
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:justify-between lg:items-center relative"
          >
            <div class="lg:w-5/12 mb-12 lg:mb-0">
              <h2 class="text-2xl lg:text-5xl font-bold mb-8 js-visible">
                Customize Your Payment Processing Model
              </h2>
              <p class="text-lg js-visible">
                Choose a <strong> hand-picked solution</strong> for your
                business model <strong>to grow your conversion rate</strong> and
                <strong>improve customer experience.</strong>
              </p>
            </div>

            <div
              class="grid grid-cols-1 place-items-center lg:place-items-auto lg:grid-cols-2 gap-6 lg:gap-12 js-visible"
            >
              <a
                href="white-label.html"
                class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 h-60"
              >
                <img src="/images/white-label.svg" />
                <p class="text-xl font-bold">White-Label</p>
              </a>
              <a
                href="cashier.html"
                class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 h-60"
              >
                <img src="/images/cashier.svg" />
                <p class="text-xl font-bold">Cashier</p>
              </a>
              <a
                href="mobile-sdk.html"
                class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 h-60"
              >
                <img src="/images/mobile-payments.svg" />
                <p class="text-xl font-bold">Mobile Payments</p>
              </a>
              <a
                href="connectivity-box.html"
                class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 h-60"
              >
                <img src="/images/connectivity-box.svg" />
                <p class="text-xl font-bold">Connectivity box</p>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <div class="text-center mx-auto lg:w-9/12 mb-22">
            <h2 class="text-2xl lg:text-5xl font-bold mb-4 js-visible">
              Personalize Your Customers’ Checkout Experience
            </h2>
            <p class="text-lg font-medium js-visible">
              Allow your customers to use their preferred checkout to optimize
              their shopping experience and scale it up to their expectations.
            </p>
          </div>

          <div class="swiper-container--index-2 h-104 js-visible">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/payment-1.png" class="h-full shadow-1" />
              </div>
              <div class="swiper-slide">
                <img src="/images/payment-2.png" class="h-full shadow-1" />
              </div>
              <div class="swiper-slide">
                <img src="/images/payment-3.png" class="h-full shadow-1" />
              </div>
              <div class="swiper-slide">
                <img src="/images/payment-4.png" class="h-full shadow-1" />
              </div>
              <div class="swiper-slide">
                <img src="/images/payment-5.png" class="h-full shadow-1" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Request a Free Demo of The System Today!
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <div class="text-center mx-auto lg:w-10/12 mb-12 lg:mb-22">
            <h2 class="text-2xl lg:text-5xl font-bold mb-4 js-visible">
              Enjoy An Optimized Payment Solution
            </h2>
            <p class="text-lg font-medium js-visible">
              Increase your transaction approval rate, prevent fraud, and be in
              control of the payment flow with our cutting-edge solutions.
            </p>
          </div>

          <div class="swiper-container--index-3 js-visible">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a
                  href="billing.html"
                  class="shadow-custom rounded-2xl bg-white flex flex-col items-center justify-center px-5 py-12 space-y-6"
                >
                  <img src="/images/billing.svg" alt="" />
                  <p class="text-lg font-bold capitalize text-center">
                    billing and smart invoicing
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="admin-panel.html"
                  class="shadow-custom rounded-2xl bg-white flex flex-col items-center justify-center px-5 py-12 space-y-6"
                >
                  <img src="/images/admin-panel.svg" alt="" />
                  <p class="text-lg font-bold capitalize text-center">
                    back office. admin panel
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="bill-faster.html"
                  class="shadow-custom rounded-2xl bg-white flex flex-col items-center justify-center px-5 py-12 space-y-6"
                >
                  <img src="/images/smart-invoicing.svg" alt="" />
                  <p class="text-lg font-bold capitalize text-center">
                    Bill faster <br />
                    and save more
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="risk-management.html"
                  class="shadow-custom rounded-2xl bg-white flex flex-col items-center justify-center px-5 py-12 space-y-6"
                >
                  <img src="/images/risk-management.svg" alt="" />
                  <p class="text-lg font-bold capitalize text-center">
                    risk management
                  </p>
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="tokenization.html"
                  class="shadow-custom rounded-2xl bg-white flex flex-col items-center justify-center px-5 py-12 space-y-6"
                >
                  <img src="/images/tokenization.svg" alt="" />
                  <p class="text-lg font-bold capitalize text-center">
                    tokenization and recurring billing
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22 relative">
        <img
          src="/images/blur-bg-shape-green.svg"
          class="payment-bg-img industries-bg-img--1"
        />
        <img
          src="/images/blur-bg-shape-red.svg"
          class="payment-bg-img industries-bg-img--2"
        />
        <div class="container relative">
          <div class="text-center mx-auto w-10/12 mb-12 lg:mb-22">
            <h2
              class="text-2xl lg:text-5xl font-bold mb-2 capitalize js-visible"
            >
              cater to international customers across various industries
            </h2>
            <p class="text-lg font-medium lg:w-8/12 mx-auto js-visible">
              Expand your global presence by offering advanced functionalities
              tailored to the needs of a specific market.
            </p>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-4 gap-12 js-visible">
            <a
              href="#"
              class="bg-white rounded-lg shadow-custom p-6 flex flex-col min-h-64 mx-10 lg:mx-0"
            >
              <p class="font-bold text-lg mb-6">PSPs</p>
              <p class="font-medium text-sm">
                Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
                ullamco cillum dolor. Voluptate exercitation...
              </p>
              <p class="font-bold text-sm text-green mt-auto">See More</p>
            </a>
            <a
              href="#"
              class="bg-white rounded-lg shadow-custom p-6 flex flex-col min-h-64 mx-10 lg:mx-0"
            >
              <p class="font-bold text-lg mb-6">E-commerce/Low risk</p>
              <p class="font-medium text-sm">
                Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
                ullamco cillum dolor. Voluptate exercitation...
              </p>
              <p class="font-bold text-sm text-green mt-auto">See More</p>
            </a>
            <a
              href="#"
              class="bg-white rounded-lg shadow-custom p-6 flex flex-col min-h-64 mx-10 lg:mx-0"
            >
              <p class="font-bold text-lg mb-6">High risk</p>
              <p class="font-medium text-sm">
                Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
                ullamco cillum dolor. Voluptate exercitation...
              </p>
              <p class="font-bold text-sm text-green mt-auto">See More</p>
            </a>
            <a
              href="#"
              class="bg-white rounded-lg shadow-custom p-6 flex flex-col min-h-64 mx-10 lg:mx-0"
            >
              <p class="font-bold text-lg mb-6">Fintech</p>
              <p class="font-medium text-sm">
                Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis
                ullamco cillum dolor. Voluptate exercitation...
              </p>
              <p class="font-bold text-sm text-green mt-auto">See More</p>
            </a>
          </div>
        </div>
      </section>

      <section class="section-lines py-22 lg:py-24">
        <div class="container">
          <h2
            class="text-2xl lg:text-5xl font-bold text-center mb-12 lg:mb-22 js-visible"
          >
            Blog
          </h2>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-12 js-visible">
            <a href="blog.html" class="card-blog group">
              <div class="overflow-hidden h-52 lg:h-60 mb-6">
                <img
                  src="/images/blog-1.png"
                  class="card-blog__img lg:group-hover:scale-110"
                />
              </div>
              <p class="text-xs text-green font-medium mb-3">
                September 9, 2013
              </p>
              <p class="text-lg font-bold mb-3">
                Nulla Lorem mollit cupidatat irure.
              </p>
              <p class="card-blog__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corporis expedita aliquid aut eum nemo, doloribus veritatis
                doloribus veritatis s expedita aliquid aut eum nemo, doloribus
                veritatis doloribus veritatis
              </p>
              <div class="flex items-center space-x-2 mt-auto">
                <img
                  src="/images/blogger.png"
                  class="rounded-full overflow-hidden w-6 h-6"
                />
                <p class="text-xs text-green font-medium">Jerome Bell</p>
              </div>
            </a>
            <a href="blog.html" class="card-blog group">
              <div class="overflow-hidden h-52 lg:h-60 mb-6">
                <img
                  src="/images/blog-2.png"
                  class="card-blog__img lg:group-hover:scale-110"
                />
              </div>
              <p class="text-xs text-green font-medium mb-3">
                September 9, 2013
              </p>
              <p class="text-lg font-bold mb-3">
                Nulla Lorem mollit cupidatat irure.
              </p>
              <p class="card-blog__text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Corporis expedita aliquid aut eum nemo, doloribus veritatis
                doloribus veritatis s expedita aliquid aut eum nemo, doloribus
                veritatis doloribus veritatis
              </p>
              <div class="flex items-center space-x-2 mt-auto">
                <img
                  src="/images/blogger.png"
                  class="rounded-full overflow-hidden w-6 h-6"
                />
                <p class="text-xs text-green font-medium">Jerome Bell</p>
              </div>
            </a>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Request a Free Demo of The System Today!
            </h2>
            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/ScrollTrigger.min.js"></script>
  </body>
</html>
