<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="section-custom-height section-lines lg:flex lg:items-center pt-22 lg:pt-0"
      >
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/ipsp-hero-img.svg"
              class="drop-shadow-red hidden lg:block lg:mr-24"
            />

            <div class="lg:w-6/12">
              <h1 class="text-5xl lg:text-7xl font-black capitalize mb-12">
                iPSP
              </h1>
              <div class="text-container">
                <p class="text-large">
                  <strong
                    >Utilize powerful technology by Akurateco to launch your own
                    PSP with zero development cost.</strong
                  >
                </p>
                <p class="text">
                  Enjoy instant access to 100+ connectors, smart routing, and a
                  flexible fee constructor to provide your clients with a smooth
                  checkout experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines pt-12 lg:pt-22 pb-12 lg:pb-30">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/mobile-sdk-phones.png"
              class="w-60 mx-auto mb-10 lg:mb-0 lg:mx-0 lg:w-2/5 js-visible"
            />

            <div class="lg:w-48/100">
              <h2 class="text-2xl lg:text-5xl font-bold capitalize js-visible">
                What we offer:
              </h2>

              <div class="space-y-6 mt-12">
                <div class="flex items-center space-x-4 js-visible">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">100+ connectors.</p>
                    <p class="font-medium">
                      Enjoy instant access to 100+ banks and payment methods
                      with a single integration;
                    </p>
                  </div>
                </div>
                <div class="flex items-center space-x-4 js-visible">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">
                      Smart Invoicing and Payment Calendar.
                    </p>
                    <p class="font-medium">
                      Let our system help you to easily manage all of your
                      ongoing settlements;
                    </p>
                  </div>
                </div>
                <div class="flex items-center space-x-4 js-visible">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">
                      Cascading and Smart Routing.
                    </p>
                    <p class="font-medium">
                      Learn how you can significantly grow your transaction
                      approval ratio;
                    </p>
                  </div>
                </div>
                <div class="flex items-center space-x-4 js-visible">
                  <img src="/images/arr-right-red.svg" />
                  <div class="text-lg">
                    <p class="font-bold capitalize">
                      A sophisticated Admin Panel.
                    </p>
                    <p class="font-medium">
                      Leverage our easy-to-use back office and detailed
                      reporting to stay on top of all the business activities.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-12 lg:py-22">
        <div class="container">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2
              class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
            >
              Launch a PSP with Zero Development Cost
            </h2>
            <p class="text-lg font-medium js-visible">
              Leverage Akurateco’s 15+ years in the payment industry to start a
              top-of-the-industry PSP today. We’ll help you connect to banks,
              other payment service providers, and APMs to create a smooth
              payment experience.
            </p>
          </div>
        </div>
      </section>

      <section class="section-lines pt-12 lg:pt-30">
        <div class="container">
          <div class="lg:w-2/3 lg:mx-auto">
            <h2
              class="text-2xl lg:text-5xl font-bold capitalize mb-4 js-visible"
            >
              Why Akurateco?
            </h2>

            <div class="space-y-6 mt-12">
              <div class="flex items-center space-x-4 js-visible">
                <img src="/images/arr-right-red.svg" />
                <div class="text-lg">
                  <p class="font-bold capitalize">Flexibility.</p>
                  <p class="font-medium">
                    Our white-label payment gateway is fully-customizable
                    allowing you to fine-tune the solution to your specific
                    needs.
                  </p>
                </div>
              </div>
              <div class="flex items-center space-x-4 js-visible">
                <img src="/images/arr-right-red.svg" />
                <div class="text-lg">
                  <p class="font-bold capitalize">Competitive rates.</p>
                  <p class="font-medium">
                    Along with cutting-edge payment technology and dedicated
                    customer support, we guarantee competitive rates.
                  </p>
                </div>
              </div>
              <div class="flex items-center space-x-4 js-visible">
                <img src="/images/arr-right-red.svg" />
                <div class="text-lg">
                  <p class="font-bold capitalize">Security.</p>
                  <p class="font-medium">
                    We’ve created a secure fraud prevention system to keep your
                    funds safe inside our system.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines py-12 lg:pt-44 lg:pb-28">
        <div class="container">
          <h2
            class="text-2xl lg:text-5xl font-bold capitalize text-center mb-12 js-visible"
          >
            Our products
          </h2>

          <div
            class="grid grid-cols-1 justify-items-center lg:grid-cols-3 gap-6 lg:gap-12 js-visible"
          >
            <a
              href="white-label.html"
              class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 lg:w-full h-60"
            >
              <img src="/images/white-label.svg" />
              <p class="text-xl font-bold">White-Label</p>
            </a>
            <a
              href="mobile-sdk.html"
              class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 lg:w-full h-60"
            >
              <img src="/images/mobile-payments.svg" />
              <p class="text-xl font-bold">Mobile SDK</p>
            </a>
            <a
              href="connectivity-box.html"
              class="shadow-custom rounded-2xl p-2 flex flex-col items-center justify-center space-y-6 bg-white w-64 lg:w-full h-60"
            >
              <img src="/images/connectivity-box.svg" />
              <p class="text-xl font-bold">Connectivity box</p>
            </a>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-12 lg:py-22">
        <div class="container js-visible">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Request a Free Demo of The System Today!
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/ScrollTrigger.min.js"></script>
  </body>
</html>
