<!DOCTYPE html>
<html>
  <body>
    <%= require('./../includes/header.html').default %>

    <main>
      <section
        id="hero"
        class="lg:h-screen section-lines lg:flex lg:items-center pb-20 lg:pb-0 pt-28 lg:pt-0"
      >
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:items-center lg:justify-between"
          >
            <img
              src="/images/mobile-sdk-hero-img.svg"
              class="drop-shadow-red hidden lg:block lg:mr-24"
            />
            <div class="lg:w-6/12">
              <h1
                class="text-5xl lg:text-7xl font-black mb-8 lg:mb-12 capitalize"
              >
                Integrate mobile applications and M-POSes
              </h1>
              <p class="text-2xl font-bold capitalize mb-4">
                One integration = multiple payment connectors
              </p>
              <p class="text-lg font-medium">
                Enjoy our cutting-edge SaaS payment platform with 100+
                connectors to banks and payment methods available via a single
                integration.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines pt-22 pb-44 lg:pb-24">
        <div class="container">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <div class="bg-white rounded-2xl p-14 flex flex-col items-start">
              <img
                src="/images/android-logo.png"
                class="w-20 h-20 object-contain mb-10"
              />
              <p class="text-2xl font-bold mb-4">Android SDK</p>
              <p class="text-lg font-medium mb-8">
                Increase customers’ loyalty and frequency of re-interaction by
                implementing mobile payment modules for Android. Leverage our
                technologies to ensure a hassle-free checkout experience for
                your clients.
              </p>

              <a href="#" class="button button-red min-w-50 mt-auto">
                Download SDK
              </a>
            </div>

            <div class="bg-white rounded-2xl p-14 flex flex-col items-start">
              <img
                src="/images/apple-logo.svg"
                class="w-20 h-20 object-contain mb-10"
              />
              <p class="text-2xl font-bold mb-4">iOS SDK</p>
              <p class="text-lg font-medium mb-8">
                Allow your customers to pay for goods and services in just one
                click using their iOS device. Ensure fast and secure checkout by
                integrating our payment modules into your application.
              </p>

              <a href="#" class="button button-red min-w-50 mt-auto">
                Download SDK
              </a>
            </div>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 mt-12">
            <div
              class="bg-lightGrey rounded-2xl p-10 flex flex-col items-start"
            >
              <img
                src="/images/huawei-logo.png"
                class="h-20 object-contain mb-6"
              />

              <div
                class="flex flex-col lg:flex-row lg:justify-between lg:items-end mt-auto lg:w-full space-y-6 lg:space-y-0"
              >
                <p class="text-2xl font-bold w-32">Huawei SDK</p>

                <a
                  href="#"
                  class="button bg-mediumGrey min-w-50 text-lightGrey mt-auto pointer-events-none"
                >
                  Coming Soon
                </a>
              </div>
            </div>

            <div
              class="bg-lightGrey rounded-2xl p-10 flex flex-col items-start"
            >
              <img
                src="/images/samsung-logo.png"
                class="h-20 object-contain mb-6"
              />

              <div
                class="flex flex-col lg:flex-row lg:justify-between lg:items-end mt-auto lg:w-full space-y-6 lg:space-y-0"
              >
                <p class="text-2xl font-bold w-32">Samsung SDK</p>

                <a
                  href="#"
                  class="button bg-mediumGrey min-w-50 text-lightGrey mt-auto pointer-events-none"
                >
                  Coming Soon
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGrey py-22">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:justify-between lg:items-center"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
                Enjoy In-App payments on any smart device
              </h2>
              <p class="text-lg font-medium">
                Simplify users’ payment experience by allowing them to pay on
                the spot while using your application. Akurateco offers
                implementation of in-app payments for any smart device - smart
                watches, wearables, a smart TV - you name it.
              </p>
            </div>

            <div class="lg:w-5/12 space-y-6 lg:mr-16">
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <p class="text-lg font-medium">Increased conversion rates;</p>
              </div>
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <p class="text-lg font-medium">
                  Compliance with top industry’s security standards;
                </p>
              </div>
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <p class="text-lg font-medium">Enhanced revenue growth;</p>
              </div>
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <p class="text-lg font-medium">
                  Easy-to-use back office with all payment data in one place;
                </p>
              </div>
              <div class="flex items-center space-x-4">
                <img src="/images/arr-right-red.svg" />
                <p class="text-lg font-medium">
                  24/7 customer and technical support.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-lines pt-35 lg:pt-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row lg:justify-between lg:items-center"
          >
            <div class="lg:w-2/5 mb-12 lg:mb-0">
              <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
                Mobile-ready Checkout
              </h2>
              <p class="text-lg font-medium">
                Enjoy a mobile checkout that converts. We’ve implemented all of
                our extensive payment experience into the development of a
                smooth mobile-friendly checkout to decrease your cart
                abandonment rate.
              </p>
            </div>

            <img
              src="/images/mobile-sdk-phones.png"
              class="w-full lg:w-2/5 drop-shadow-grey-1 lg:mr-24"
            />
          </div>
        </div>
      </section>

      <section class="section-lines pt-15 pb-24 lg:py-24">
        <div class="container">
          <div
            class="flex flex-col lg:flex-row-reverse lg:justify-between lg:items-end"
          >
            <div class="lg:w-2/5">
              <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-4">
                QR codes
              </h2>
              <p class="text-lg font-bold">
                Leverage state-of-the-art technologies and accept online payment
                using QR codes. Keep fast and simple while still protecting your
                client’s sensitive data.
              </p>

              <div class="lg:hidden bg-white shadow-1 rounded-2xl h-60 mt-12">
                <lottie-player
                  src="https://assets1.lottiefiles.com/private_files/lf30_fznoqhdy.json"
                  background="transparent"
                  speed="1"
                  loop
                  autoplay
                ></lottie-player>
              </div>

              <div class="space-y-6 mt-12">
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <p class="text-lg font-medium">
                    Convenient payment method for tech-savvy customers;
                  </p>
                </div>
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <p class="text-lg font-medium">Improved conversion rate;</p>
                </div>
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <p class="text-lg font-medium">
                    Fast and smooth implementation;
                  </p>
                </div>
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <p class="text-lg font-medium">
                    User-friendly cross-channel analytics system;
                  </p>
                </div>
                <div class="flex items-center space-x-4">
                  <img src="/images/arr-right-red.svg" />
                  <p class="text-lg font-medium">
                    Cutting-edge payment data management.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="hidden lg:block bg-white shadow-1 rounded-2xl h-60 lg:h-112 lg:w-48/100"
            >
              <lottie-player
                src="https://assets1.lottiefiles.com/private_files/lf30_fznoqhdy.json"
                background="transparent"
                speed="1"
                loop
                autoplay
              ></lottie-player>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-lightGreen py-22">
        <div class="container">
          <div class="text-center lg:w-8/12 mx-auto">
            <h2 class="text-2xl lg:text-5xl font-bold capitalize mb-12">
              Let’s talk cashier? Request a free demo today!
            </h2>

            <button
              class="button button-red min-w-50 mx-auto js-modal-call"
              data-modal-target="modal-demo"
            >
              Request a Demo
            </button>
          </div>
        </div>
      </section>
    </main>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <%= require('./../includes/modals.html').default %> <%=
    require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
  </body>
</html>
